<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYG6CMrIq2_n3enud1UCFiVy5VjheDvXM</string>
	<key>GCM_SENDER_ID</key>
	<string>626141770080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weijiasong.ArtTalk</string>
	<key>PROJECT_ID</key>
	<string>arttalk-7dac4</string>
	<key>STORAGE_BUCKET</key>
	<string>arttalk-7dac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626141770080:ios:0227695096429397b52e05</string>
</dict>
</plist>